.program-container {
    max-width: 600px;
    margin: 20px auto;
}

mat-card {
    margin: 10px;
}

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-image {
    width: 600px;
    height: 350px;
    object-fit: cover;
}

.enrol-button,
.contact-button {
    margin: 20px auto;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.profile-img {
    width: 100%;
    height: auto;
    display: block;
}

.comments-section {
    margin-top: 20px;
}

.comment-card {
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.comment-card mat-card-title {
    font-size: 16px;
    font-weight: bold;
}

.comment-card mat-card-subtitle {
    font-size: 14px;
    color: gray;
}

.add-comment-section {
    margin-top: 20px;
}

.add-comment-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.comment-input {
    width: 100%;
    margin-bottom: 10px;
}