<app-toolbar></app-toolbar>
<div class="program-container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{ program.name }}</mat-card-title>
            <mat-card-subtitle>{{ program.category.name }} - {{program.category.attribute}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <img mat-card-image [src]="getProfileImage(program.images)" alt="{{ program.name }}" class="profile-img">
            <p class="mat-body-1">Price: {{ program.price }} $</p>
            <p class="mat-body-1">Level: {{ program.level }}</p>
            <p class="mat-body-1">Duration: {{ program.duration }} days</p>
            <p class="mat-body-1">Owner: {{ userHasProgram.fullName}}</p>
            <p class="mat-body-2">Description: {{ program.description }}</p>
            <button *ngIf="loginService.signedIn" class="enrol-button" mat-flat-button color="primary"
                (click)="buy()">Buy Program</button>
            <swiper-container [slidesPerView]="1" [spaceBetween]="10" [pagination]="{ clickable: true }"
                [navigation]="true" class="swiper-container">
                <swiper-slide *ngFor="let image of program.images" class="swiper-slide">
                    <img [src]="image.data" [alt]="program.name" class="swiper-image">
                </swiper-slide>
            </swiper-container>
            <button *ngIf="loginService.signedIn" class="enrol-button" mat-flat-button color="primary"
                (click)="openChat()">Contact</button>

            <div class="comments-section">
                <h3>Comments</h3>
                <mat-card *ngFor="let comment of program.comments" class="comment-card">
                    <mat-card-title>{{ comment.question }}</mat-card-title>
                    <mat-card-subtitle>{{ comment.userUsername}} - {{comment.date | date:'medium'}}</mat-card-subtitle>
                    <mat-card-content>
                        {{comment.answer}}
                    </mat-card-content>
                </mat-card>

                <div *ngIf="loginService.signedIn" class="add-comment-section">
                    <h4>Add a Comment</h4>
                    <mat-form-field class="comment-input" appearance="outline">
                        <textarea matInput placeholder="Your Comment" [(ngModel)]="newComment"></textarea>
                    </mat-form-field>
                    <button mat-flat-button color="primary" (click)="addComment()">Add</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>