<div class="home-container">
    <app-toolbar></app-toolbar>
    <mat-tab-group>
        <mat-tab label="My Programs">
            <ng-container *ngFor="let program of myPrograms">
                <app-my-programs [program]="program" (programDeleted)="onProgramDeleted($event)"
                    (programFinished)="onProgramFinished($event)">
                </app-my-programs>
            </ng-container>
        </mat-tab>
        <mat-tab label=" Active">
            <ng-container *ngFor="let program of activePrograms">
                <app-active-programs [program]="program"></app-active-programs>
            </ng-container>
        </mat-tab>
        <mat-tab label="Finished">
            <ng-container *ngFor="let program of finishedPrograms">
                <app-finished-programs [program]="program"></app-finished-programs>
            </ng-container> </mat-tab>
    </mat-tab-group>
</div>