<div class="home-container">
    <app-toolbar></app-toolbar>

    <ng-container *ngIf="usersHavePrograms.length > 0; else noPrograms">
        <app-program *ngFor="let userHasProgram of usersHavePrograms" [userHasProgram]="userHasProgram"
            (click)="openDetails(userHasProgram)"></app-program>
    </ng-container>

    <ng-template #noPrograms>
        <p class="no-programs-message">No programs available.</p>
    </ng-template>

    <mat-paginator *ngIf="usersHavePrograms.length > 0" [length]="totalItems" [pageSize]="pageSize"
        [pageIndex]="currentPage" (page)="onPageChange($event)">
    </mat-paginator>
</div>